html, body{
	font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
	padding: 2em 16em;
	text-align: justify;
	line-height: 1.5em;
}
h1{
	text-align: center;
	font-size: xx-large;
}
#skills{
	column-count: 2;
}
ul{
	margin: 0;
	padding-left: 20px;
	list-style-type: '− ';
}
.job{
	margin-top: 1em;
}
.jobHeader{
	display: grid;
	grid-template-columns: 1.5fr 2fr 2fr 1fr;
	font-weight: bold;
}
.project{
	margin-top: 1em;
}
.projectHeader{
	display: grid;
	grid-template-columns: 1.5fr 3fr 2fr;
	font-weight: bold;
}
.credential{
	display: grid;
	grid-template-columns: .75fr 3.5fr 2fr;
}
